@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>
<html lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mustafa Ali - Sr.Software Developer </title>

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fichiers CSS -->
<link rel="stylesheet" href="~/Content/HomePageItems/reset.css">

<!--[if lt IE 9]> 
	<link rel="stylesheet" href="css/cv.css" media="screen">
<![endif]-->
<link rel="stylesheet" media="screen and (max-width:480px)" href="~/Content/HomePageItems/mobile.css">
<link rel="stylesheet" media="screen and (min-width:481px)" href="~/Content/HomePageItems/cv.css">
<link rel="stylesheet" media="print" href="~/Content/HomePageItems/print.css">

</head>

<body>

	<!-- Header -->
	<header role="banner">
		<div class="container_16">
            <hgroup>
                <h2>M.Mustafa Ali</h2>
                <h3>Sr.Software Developer - Backend Developer</h3>
                <h5>Mobile:0092-336-8137713          
                       Email:shajeealikhan@gmail.com</h5>
            </hgroup>

				<figure>
					<img src="~/Content/HomePageItems/avatar.jpg" alt="Mustafa">
				</figure>
		</div>
	</header>
	
	
	
	<!-- Corps -->
	<section role="main" class="container_16 clearfix">
		<div class="grid_16">
			<!-- A propos -->
			<div class="grid_8 apropos">
				<h3>Profile Summary</h3>
				<p>10 + years of extensive experience of working on different projects.</p>
				<p>3+ years of experience in working on MVC. </p>
                 <p>Strong Knowledge of Business Process Engineering, System Analysis, Project Planning, Execution and troubleshooting.
                   Experience in the areas of Project Management, Application development, 
                   monitoring and evaluation, Change Management, System integration, Risk Analysis, 
                   Technology transformation and Client relationship management.
                   Expertise In all the SDLC cycles, with the focus on solution delivery.</p>
			</div>
			
			<!-- Compétences -->
			<div class="grid_8 competences">
				<h3>Competence</h3>
				<ul class="barres">
					<li data-skills="90">MVC<span style="width: 90%;"></span></li>
                    <li data-skills="50">Jquery CSS HTML<span style="width: 50%;"></span></li>
					<li data-skills="80">ASP.Net Web Forms<span style="width: 80%;"></span></li>
                    <li data-skills="80">EntityFramework<span style="width: 80%;"></span></li>
                    <li data-skills="85">T-Sql<span style="width: 85%;"></span></li>
					<li data-skills="90">MS SQL Server<span style="width: 90%;"></span></li>
                    <li data-skills="85">WCF Services & API <span style="width: 85%;"></span></li>
					<li data-skills="80">MS Project<span style="width: 80%;"></span></li>
					<li data-skills="95">System Analysis<span style="width: 95%;"></span></li>
                    <li data-skills="95">Agile Tools : JIRA / Team Foundation Server<span style="width: 70%;"></span></li>
				</ul>
			</div>
		</div>
		
			<!-- Expériences -->
			<div class="grid_16 experiences">
				<h3>Experience</h3>
				<ul>
					<li>
						<h4><strong>Project Manager</strong> Mudita partners PVT Ltd </h4>
						<span class="lieu">Karachi Pakistan</span>
						<span class="dates">July 2017 - Present</span>
					</li>
					<li>
						<h4><strong>Project Team Lead</strong> EDP Services PVT Ltd </h4>
						<span class="lieu">Karachi Pakistan</span>
						<span class="dates">Jan 2016 - June 2017</span>
						
					</li>
                    <li>
						<h4><strong>Applications Support Engineer</strong> Al-Manarah IT & Communication </h4>
						<span class="lieu">Riyadh Saudia Arabia</span>
						<span class="dates">Apr 2015 - Dec 2016</span>
						
					</li>
                     <li>
						<h4><strong>Sr.Software Developer</strong> Jeraisy Computer & communication  </h4>
						<span class="lieu">Riyadh Saudia Arabia</span>
						<span class="dates">Mar 2002 - Mar 2015</span>
						
					</li>
				</ul>
			</div>
		 
			<!-- Formations -->
			<div class="grid_16 formations">
				<h3>Education</h3>
				<ul>
					<li>
						<h4><strong>BCS/Degree</strong> - University Of Karachi</h4>
						<span class="lieu">Karachi Pakistan</span>
						<span class="dates">3 Years Course</span>
						<p>Computer Science & Programming.</p>
					</li>
					<li>
						<h4><strong>International Diploma In Computer Studies/Diploma</strong></h4>
						<span class="lieu">National Computing Center Manchester, United Kingdom</span>
						<span class="dates">1 Year Course</span>
						
					</li>
                    <li>
						<h4><strong> Project Management Professional (PMP) Certified/Certification</strong></h4>
						<span class="lieu">Project Management Institute, Inc., USA https://www.pmi.org/</span>
						<span class="dates">2013</span>
						
					</li>
                    <li>
						<h4><strong> Professional in Business Analysis (PBA) Certified/Certification</strong></h4>
						<span class="lieu">Project Management Institute, Inc., USA https://www.pmi.org/ </span>
						<span class="dates">2015</span>
						
					</li>

				</ul>
			</div>
		
			<!-- Loisirs -->
			<div class="grid_8 loisirs">
				<h3>Hobbies</h3>
				<p><strong>Sports :</strong> Squash / Chess </p>
				<p><strong>Association :</strong>Sindh Rangers Club - Nazimabad Karachi</p>
				<p>Watch Movies/Technology blogs</p>
			</div>
		
			<!-- Contact -->
			<div class="grid_8 contact">
				<h3>Contact</h3>
				<p>Mobile:0092-336-8137713
                   Addres: Gulshan-e-iqbal  Karachi
                   Email:shajeealikhan@gmail.com </p>
				<ul>
					<li class="lieu">Karachi, Pakistan</li>
					<li class="phone">0092-336-8137713</li>
					<li class="mail"><a href="https://mail.google.com">shajeealikhan@gmail.com</a></li>
					<li class="site"><a href="https://www.linkedin.com/in/mustafa-ali-145a8447/">My Linkeddin Profile</a></li>
                    <li class="site"><a href="https://www.linkedin.com/in/ala-abutabanjeh-10290a45/">Reffrence 1</a></li>
                    <li class="site"><a href="https://www.linkedin.com/in/mahbooba/">Reffrence 2</a></li>
					<li class="site"><a href="http://shajee.somee.com/RepositoryProject/">My Web Site</a></li>
				</ul>
			</div>
	</section>
    <div>
        <!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=6966451&style=0006&nbdigits=5&type=page&initCount=0" title="Free track counters" Alt="Free track counters"   border="0" >
</a>                                        <br/>
                                        <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="" 
                                        target="_blank" style="font-family: ; 
                                        font-size: px; color: #; text-decoration:  ;"><>                                        </>
                                        </a>   
    </div>
<!-- Scripts JavaScript -->
<script src="~/Content/HomePageItems/jquery-1.js"></script>
<script src="~/Content/HomePageItems/validate.js"></script>

<!--[if lt IE 9]>
<script src="scripts/placeholder.js"></script>
<![endif]-->
<script src="~/Content/HomePageItems/plugins.js"></script>

</body></html>